{% extends 'core/base.html' %}
{% block content %}

<div class="login-form">
    <form action={% url 'login_handle' %} method="post">
        {% csrf_token %}
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input type="text" name="email"class="form-control" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary">Log in</button>
        </div>
    </form>
    <p class="text-center"><a href="registor">Create an Account</a></p>
</div>
{% endblock %}