.search_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
  transition: color 0.3s ease, background-color 0.3s ease, all 0.3s ease;
  pointer-events: auto;
  opacity: 1;
  position: relative;
  min-width: 40px;
  min-height: 40px;
  background: #ff385c;
  padding: 0;
  color: white;
}

.search_btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 1); /* ring-2 */
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1) inset; /* ring-offset-2 */
}

.search_btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.search_btn svg {
  pointer-events: none;
  width: 1rem; /* Equivalent to size-4 */
  height: 1rem; /* Equivalent to size-4 */
  flex-shrink: 0;
}

.search_btn:hover {
  background: #d70466;
}
